@charset "UTF-8";

*{ font-family: 'Courier New', Courier, monospace;
    padding:10px ;
    margin: 10px;

}


section{
    width: 600px;
    margin: auto;}

    title{
        display: none;
    }

    div{
display: block;
    }