@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}



body{ 
 
  
   background-repeat:round;
   background-attachment: fixed;
    

}


header{background-color: rgba(0, 0, 0, 0.39);
    font-size: 1.2m;
    color: white;
   
    text-align: center;
    padding: px;
    border-radius: 0px 0px 40px 40px;
width: 100%;
margin: auto;
}

h1{
    text-shadow: 12px 10px 10px 10px  black;
   
}

#marquee{background-color: gray;

    border-radius: 0px 0px 40px 40px;

}




div{
    margin: auto;
}

main{
    margin: auto;


}

section{
width: 90vw;
margin: auto;
background-color: rgb(255, 254, 254);
display: block;
    box-shadow: -5px 9px 10px 10px;

}





strong{text-decoration: underline;

}


p.descanso{
    background-color: yellow;
    color: rgba(0, 0, 0, 0.918);
    
}

a{
    font-size: 1.3em;
}

a:active{ background-color: red;

}

a:hover{
    background-color: yellow;
}

}

footer{
    background-color: black;
    color: white;
}