@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{ 
 
   background-image: url('../Estilo/download.jfif');
   background-repeat:round;
   background-attachment: fixed;
    

}


header{background-color: black;
    font-size: 1.2m;
    color: white;
    text-align: center;
    padding: px;
    border-radius: 0px 0px 40px 40px;
width: 100%;
margin: auto;
}
#marquee{background-color: gray;

    border-radius: 0px 0px 40px 40px;

}




div{
    margin: auto;
}

main{
    margin: auto;


}

section{
width: 600px;
margin: auto;
background-color: rgb(255, 254, 254);
display: block;
    box-shadow: -5px 9px 10px 10px;

}


iframe{
    width: 400PX;
    height: 400PX;
}

strong{text-decoration: underline;

}


p.descanso{
    background-color: yellow;
    color: black;
}

a{
    font-size: 1.3em;
}

a:active{ background-color: red;

}

a:hover{
    background-color: yellow;
}

}

footer{
    background-color: black;
    color: white;
}